.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.search-container, .color-container {
    flex: 1 1 auto;
    min-width: 200px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.p-field {
    margin-bottom: 1rem;
}

.catalog {
    padding: 1rem;
    overflow-y: auto;
    height: 100vh; /* Adjust the height as needed */
}

.p-grid .p-col-12 {
    padding: 0.5rem;
}

.p-grid .p-col-6 {
    width: 50%;
    padding: 0.5rem;
}

.p-grid .p-col-4 {
    width: 33.33%;
    padding: 0.5rem;
}

.p-grid .p-col-3 {
    width: 25%;
    padding: 0.5rem;
}

.p-grid .p-col-2 {
    width: 16.66%;
    padding: 0.5rem;
}

.p-grid .p-col-1 {
    width: 8.33%;
    padding: 0.5rem;
}

@media screen and (max-width: 960px) {
    .p-grid .p-col-4 {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .p-grid .p-col-4 {
        width: 100%;
    }
}
