/* src/components/Register.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .p-card {
    width: 400px;
  }
  
  .p-field {
    margin-bottom: 1rem;
  }
  